/* Font start */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('media.css');

/* Font end */

/* Reset start */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    /* Use font on all site */

    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

a, a:visited {
    text-decoration: none;
}

button:hover, a:hover, .action-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

body {
    z-index: 0;
}

main {
    max-width: var(--max-width) !important; 
    margin: auto ;
}

/* Reset end */

/* Media start */

@media (max-width: 1440px) {
    main {
        margin: var(--content-margin) ;
    }
}

/* Media end */

/* Variables */

:root {
    --max-width: 1440px;
    --content-width: 100%;
    --content-margin: 0 112px;

    --design-color-1: #FF1717;
    --gray-color: #D9D9D9;
}

.action-btn {
    background-color: var(--design-color-1);
    padding: 12px 16px;
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
}

.buy-btn {
    width: 100%;
}

.burger-btn {
    display: none;
}

.burger {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 24px 48px;

    color: #fff;
    background-color: #fff;

    column-gap: 96px;

}

.burger-open {
    display: flex;
}

.mobile__auth-btn {
    display: none;
}

/* Header start */

.header {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;

    padding: 24px 48px;

    color: #fff;
    background-color: #fff;

    column-gap: 96px;

    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.header__top {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 6px 48px;

    position: relative;
    top: 0;

    background-color: #D9D9D9;
}
.header__top__left {
    display: flex;
    column-gap: 24px;
}

.header__top__link {
    color: #000;
}

.header__top__right {
    display: flex;
    column-gap: 24px;
}

.header__left {
    display: flex;
    column-gap: 24px;
}

.header__right {
    display: flex;
    column-gap: 24px;
}

.logo__container {
    background-color: var(--design-color-1);
    text-align: center;

    width: 120px;

    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
}

.catalog__container {
    background-color: var(--design-color-1);

    width: 120px;

    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__container:hover {
    cursor: pointer;
}

/* Full catalog start */
.full__catalog__container {
    background-color: #fff;

    display: none;
    min-width: var(--max-width);
    height: 760px;

    position: absolute;
    z-index: 2;
}

.open {
    display: flex;
}

.full__catalog__category {
    background-color: #868686;

    display: flex;
    flex-direction: column;

    width: 300px;
    height: 100%;

    padding: 20px 0 0 20px;

    row-gap: 20px;

    color: #000;
}

.full__catalog__category__item {
    display: flex;
    flex-wrap: wrap;
}

.full__catalog__category__item:hover {
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.20);

    border-right: 2px solid #000;
}
 
.full__catalog__item {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 20px;

    width: 1000px;
    height: 100%;

    padding: 20px 0 0 20px;
}

.full__catalog__item.open {
    display: flex; /* Показываем открытые элементы */
}

.full__catalog__item__container {
    color: #000;

    width: 320px;
    height: 240px;

    border: 1px solid #000;

    padding: 20px 0 0 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    row-gap: 20px;
}

.full__catalog__item__container > a {
    color: #000;
}

.full__catalog__item__heading {
    font-size: 16px;
    font-weight: 700;
}

.full__catalog__exit {
    font-size: 20px;

    position: absolute;
    top: 20px;
    right: 20px;

    color: #000;
}

.full__catalog__exit:hover {
    cursor: pointer;
}

/* Full catalog end */

.search__container {
    width: 560px;

    display: flex;
}

.search-input {
    border: 2px solid var(--design-color-1);
    border-radius: 12px 0 0 12px;
    
    width: 100%;

    padding: 0 0 0 32px;
}

.search-btn {
    background-color: var(--design-color-1);

    border-radius: 0 12px 12px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
}

.header__nav__container {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.header__nav__item {
    display: flex;

    color: #000;
}

.header__auth__container {
    background-color: var(--design-color-1);

    border-radius: 12px;
}

/* Header end */


/* Footer start */

.footer {
    background-color: var(--gray-color);

    width: 100%;

    padding: 24px 112px;
}

.footer__container {
    width: var(--content-width);

    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo__container {
    height: 40px;
    color: #fff;
}

.logo {
}

.store__map-btn {
    background-color: var(--design-color-1);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 164px;
    height: 40px;

    color: #fff;

    border-radius: 8px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-top: 2px solid rgba(0, 0, 0, 0.5);

    height: 100%;

    padding: 24px 0;

    color: #000;
}

.footer__nav__elem {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer__nav__heading {
    font-size: 20px;
    font-weight: 700;
}

.footer__nav__link {
    color: #000;
}

.footer__foot {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;

}
.footer__policy {
    color: #000;
    text-decoration: underline;
}
.cod-ink {
}

/* Footer end */



/* Product start */

.product__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
    height: 400px;

    row-gap: 24px;
}

.product__container__heading {
    font-size: 20px;

    width: 100%;
}

.product__container__item {
    width: 214px;
    height: 100%;

    position: relative;

    /* padding: 20px 20px; */
}

.product__item-img {
    width: 100%;
    height: 202px;
}

.product__rating__container {
    display: flex;

    margin-top: 8px;

    height: 20px;
}

.rating__star {

}

.product__review__amount {
    opacity: 0.5;
}

.product__name {
    margin-top: 12px;
}

.product__price__old__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 52px; */

    width: 120px;

    margin-top: 12px;
    margin-bottom: 24px; 
    
    column-gap: 8px;
}

.old__price {
    font-size: 12px;

    opacity: 0.5;

    text-decoration: line-through;
}

.discount__number {
    background-color: var(--design-color-1);

    width: 40px;
    height: 20px;
    
    color: #fff;

    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product__price {
    /* position: absolute; */
    /* bottom: 20px; */
    /* margin-top: 12px;
    margin-bottom: 24px; */
}

/* product end */




/* All basket style start */

.return-back-btn {
    background-color: var(--design-color-1);

    color: #fff;

    padding: 12px;

    border-radius: 12px;
}

.back-arrow {

}

.basket__page__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 24px;
}

.basket__page__heading {
    font-size: 40px;
    font-weight: bold;

    width: 100%;
}

.basket__page__text {
    font-size: 20px;
}

/* --------------------------------------------------- */

.basket__info__container {
    width: 750px;

    display: grid;

    gap: 24px;
}

.basket__check__btn__container {
    width: 100%;
    height: fit-content;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: #F4F5F6;
}

.basket__check__all {
}
.basket__del__checked {
    background-color: inherit;

    color: #009DFF;
    text-decoration: underline;
}

.basket__info__item {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 24px;

    background-color: #f4f5f6;

    padding: 20px;
}

.basket__info__img {
}

.basket__info__name {
    width: 30%;

    font-size: 16px;
    font-weight: bold;
}

.basket__info__product__amount__counter {
    display: flex;
    justify-content: space-between;

    width: 100px;
}

.amount__counter {
}

.amount__counter__number {
}

.basket__action__btns__container {
    display: grid;
    gap: 12px;
}

.basket__price {
    font-size: 24px;
}

.basket__favorites-btn {
    color: rgba(0, 0, 0, 0.5);
}

.basket__del-btn {
    color: rgba(0, 0, 0, 0.5);
}

.basket__order__detail {
    background-color: #F4F5F6;

    width: fit-content;
    height: fit-content;

    border-radius: 8px;

    display: grid;
    gap: 20px;

    padding: 10px;
}

.basket__order__heading {
    font-size: 24px;
}

.basket__method__of__get {
    color: #009DFF;
    text-decoration: underline;
}

.basket__address {
    max-width: 240px;
}

.basket__amount__of__product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 16px;
}

.basket__amount__product {
}

.basket__all-price__product {
    
}

.basket__detail__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 16px;
}

.basket__detail__text {
}

.basket__detail__span {
}

/* ------------------------------------------ */

.basket__ordering__container {
    display: grid;
    gap: 20px;
}
.basket__page__heading {
}
.basket__action__btn__container {
}
.basket__action__btn {
    background-color: var(--gray-color);
    color: #000;
}
.basket__action__btn-active {
}
.action-btn {
}
.basket__payment__container {
}

.basket__address__express {
    display: flex;
    flex-wrap: wrap;

    max-width: 600px;

    gap: 20px;
}

/* ------------------------------------------ */

.basket__order__info {
    font-size: 20px;
}

.basket__order__info-bold {
    font-weight: bold;
    font-size: 32px;
}

.basket__order-id {
    font-weight: bold;
    font-size: 32px;
}

.basket__order-amount {
    font-weight: bold;
    font-size: 32px;
}

.basket__order-name {
    font-size: 20px;
}

.basket__order-email {
    font-size: 20px;
}


.basket__order__product__info {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.basket__order__product__item {
    display: flex;
    flex-direction: column;
}

.basket__order__product__amount {
    color: rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------ */


/* All basket style end */

/* Profile page */

.profile__lk__container {
    width: 100%;
    background-color: #F4F5F6;

    display: flex;
    flex-wrap: wrap;

    gap: 12px;

    padding: 20px;
}

.profile__lk__heading {
    width: 100%;

    font-size: 20px;
}

.profile__lk__item {
    /* width: 220px; */
    height: fit-content;
}

.profile__lk__item__name {
}

.profile__lk__item-inp {
    padding: 10px 20px;

    background-color: #D9D9D9;
    border-radius: 16px;
}

.profile__lk__item-long-inp {
    width: 460px;
}


