@media (max-width: 360px) {
    .search__container {
        width: fit-content;
    }

    .auth-inp {
        width: 100%;
    }

    .main {
        padding: 0;
        margin: 0 auto;
    }

    .category__item {
        width: 120px;
    }

    .category-img {
        width: 120px;
    }

    .product__container__item {
        width: 140px;
    }

    .public__container {
        justify-content: center;
    }

    .publick__nav {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 24px;
    }

    .email__sending {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        padding: 0;
    }
}