


/* Main start */

.main {
    max-width: var(--max-width);

/*     margin: var(--content-margin); */

    display: flex; 
    flex-direction: column;

    padding: 96px 0;

    row-gap: 96px;
}

/* Main end */

/* Hero start */

.hero {
    /* background-color: var(--design-color-1); */

    width: 100%;
    /* height: 260px; */

    display: flex;
    justify-content: center;

    border-radius: 24px;
}

.hero-img {
    width: 100%;
}

/* Hero end */


/* Category start */

.category__container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category__item {
    width: 200px;
    /* height: 200px; */
}

.category-img {
}
.category__name {
}

/* Category end */


/* Auth start */

.auth__container {
    width: fit-content;
    height: fit-content;
    padding: 20px;

    margin: auto;
}

.auth__form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}

.auth__heading {
    font-size: 30px;
    text-align: center;
}

.auth__input__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__input-img {
    position: absolute;
    left: 20px;

    width: 30px;
    height: 30px;
}

.auth-inp {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    padding: 20px 0 20px 60px;

    width: 540px;

    font-size: 16px;
}

.auth__action__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-btn {
    width: 100%;
}

.auth__change {
    text-align: center;
}


/* Auth end */


/* Product start */

.product__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
    height: fit-content;

    row-gap: 24px;
}

.product__container__heading {
    font-size: 20px;

    width: 100%;
}

.product__container__item {
    width: 214px;
    height: 100%;

    position: relative;

    /* padding: 20px 20px; */
}

.product__item-img {
    width: 100%;
    height: 202px;
}

.product__rating__container {
    display: flex;

    margin-top: 8px;

  
}

.rating__star {

}

.product__review__amount {
    opacity: 0.5;
}

.product__name {
    margin-top: 12px;
}

.product__price__old__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 52px; */

    width: 120px;

    margin-top: 12px;
    margin-bottom: 24px; 
    
    column-gap: 8px;
}

.old__price {
    font-size: 12px;

    opacity: 0.5;

    text-decoration: line-through;
}

.discount__number {
    background-color: var(--design-color-1);

    width: 40px;
    height: 20px;
    
    color: #fff;

    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product__price {
    /* position: absolute; */
    /* bottom: 20px; */
    /* margin-top: 12px;
    margin-bottom: 24px; */
}

/* product end */


/* Company start */

.company__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 24px;

    width: 100%;
}

.company__container__heading {
    width: 100%;

    text-align: center;

    font-size: 20px;
}

.company__container__item {
    width: 190px;
    height: 80px;
}

.company-img {
    width: 100%;
    height: 100%;

    border-radius: 360px;
}

/* Company end */


/* Publick start */


.public__container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 24px;
}

.publick__nav {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.publick__nav__item__container {
    background-color: var(--design-color-1);

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 236px;
    height: 40px;

    

    border-radius: 8px;
}

.publick__nav__item {
    color: rgba(255, 255, 255, 0.7);
}

.publick__nav__item:hover {
    color: #fff;
}

.publick__nav__all-btn {
    background-color: var(--design-color-1);

    color: #fff;
}

.publick__item {
    background-color: #D9D9D9;

    width: 260px;
    height: 260px;

    /* padding: 0 8px 8px 8px; */

    border-radius: 12px;

    position: relative;
}

.publick-img {
    width: 100%;
    height: 120px;

    border-radius: 20px;
}

.publick__text {
    font-size: 12px;

    margin-top: 8px;
    padding: 0 8px 8px 8px;
}

.publick__date {
    font-size: 10px;
    opacity: 0.5;

    position: absolute;
    bottom: 8px;
    left: 8px;
}

/* Publick end */


/* Email sending start */

.email__sending {
    width: 100%;
    height: fit-content;

    background-color: var(--gray-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px 69px;

    border-radius: 12px;
}

.email__ad__text {
    font-size: 20px;
    font-weight: 600;
}

.email__input__container {
    display: flex;
    align-items: center;

    border-radius: 12px;

    width: 278px;
    height: 46px;
}

.email-input {
    border-radius: 12px 0 0 12px;

    width: 302px;
    height: 100%;

    padding: 11px 0 11px 8px;

    border: 1px solid var(--design-color-1);

    color: #848484;
    font-weight: 600;
}

.email-btn {
    background-color: var(--design-color-1);
    color: #fff;
    border-radius: 0 12px 12px 0;
}

.email-btn:hover {
    cursor: pointer;
}

/* Email sending end */
